body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header */

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-studio {
    color: #2E2F42;
}

.navigation-link a {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.navigation-link a:hover,
.navigation-link a:focus {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}


/* Hero image */

.image-section {
    background-color: #2e2f42;
}

.title-image {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    text-align: center;
}

.button-order {
    font-family: 'Roboto', sans-serif;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    letter-spacing: 0.04em;
}

button {
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #404BBF;
}

/* Our advantages */

.title-h2-none {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center
}

.advantages-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.advantages-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Our team */

.team-section {
    background-color: #F4F4FD;
}

.our-teem>li {
    background-color: #FFFFFF;
}

.title-our-team {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}

.team-section-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.team-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Our Portfolio */

.title-portfolio {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center
}

.portfolio-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Footer */

.footer-section {
    background-color: #2e2f42;
}

.logo-footer {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-footer-studio {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}